{% extends 'base.html.twig' %}

{% block title %}Equip index{% endblock %}

{% block body %}
    <h1>Equip index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Equip</th>
                <th>ShortName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equip in equips %}
            <tr>
                <td>{{ equip.id }}</td>
                <td>{{ equip.equip }}</td>
                <td>{{ equip.shortName }}</td>
                <td>
                    <a href="{{ path('app_equip_show', {'id': equip.id}) }}">show</a>
                    <a href="{{ path('app_equip_edit', {'id': equip.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_equip_new') }}">Create new</a>
{% endblock %}
